@media all and (max-width: 460px) {
  * {
    font-size: 18px;
  }
  .home-about  {
    text-align: center;
  }  
  .home-about nav {
    gap: 10px;
  }

  .pers-info{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
  }
      
  }